.adicionar-item{
  width: 38px;
}

.input-radio{
  width: 22px;
  height: 20px;
  margin-bottom: -5px;
}

.status-pagamento{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  margin-bottom: 12px;
}

