<!--<section class="my-login-page-content">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100" >
      <div class="card-wrapper" >< !--style="width: 415px !important;"-- >
        <div class="brand"> < !-- style="text-align: center;"-- >
          <img src="../../assets/img/logo.jpg" alt="logo">
        </div>
        <div class="card fat">
          <div class="card-body" >
            <h4 class="card-title">Cadastrar</h4>
            <form class="my-login-validation" [formGroup]="formularioCadastro" novalidate="">
              
              <div class="form-group">
                <label for="nomecad">Nome</label>
                <input id="nomecad" 
                      type="nomecad" 
                      class="form-control" 
                      value="Raul Brito"
                      name="nomecad" required data-eye
                      formControlName="nomecad">
                <div class="invalid-feedback" >O nome é obrigatório!</div>
              </div>
              
              <div class="form-group" style="margin-bottom: 1rem;">
                <label for="emailcad">E-Mail</label>
                <input id="emailcad" type="emailcad" class="form-control" name="emailcad" value="" required autofocus
                formControlName="emailcad">
                
                <div class="invalid-feedback"> Formato de email invalido!</div>
              </div>

              <div class="form-group">
                <label for="password">Senha <a href="forgot.html" class="float-right"> Esqueceu a senha?</a></label>
                <input id="password" 
                      type="password" 
                      class="form-control" 
                      name="password" required data-eye
                      formControlName="password">
                <div class="btn btn-primary btn-sm" 
                      id="campo-mostrar" 
                      style="right: 10px; 
                              top: 7px; 
                              padding: 2px 7px; 
                              font-size: 12px; 
                              cursor: pointer;">Mostrar2</div>      
                <div class="invalid-feedback" >A senha é obrigatória!</div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <input id="password" 
                      type="password" 
                      class="form-control" 
                      name="password" required
                      formControlName="password">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" style="right: 0px; 
                    top: 0px; 
                    padding: 11px 7px; 
                    font-size: 12px; 
                    cursor: pointer;" type="button">mostrar</button>
                  </span>
                </div>
              </div>

              <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block"
                (click)="cadastrar()">
                  Cadastrar
                </button>
                
              </div>
              <div class="mt-4 text-center">
                <div class="btn-acao" (click)="getPagina()">Voltar para o login</div>
              </div>
            </form>
          </div>

        </div>
        <div class="footer">
          Copyright &copy; 2023 &mdash; NEW - Novo Estilo Web
        </div>
      </div>
    </div>
  </div>
</section>-->
