<!--
<section class="text-center">
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 170px;
        "></div>


  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Cadastro</h2>
          <form>
            
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Nome</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 42.4px;"></div>
                    <div class="form-notch-trailing"></div>
                  </div>
                  
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Sobrenome</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;"></div>
                    <div class="form-notch-middle" style="width: 42.4px;"></div>
                    <div class="form-notch-trailing"></div>
                  </div>
                </div>
              </div>
            </div>

           
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 42.4px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

           
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Senha</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 42.4px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

        
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Sign up
            </button>

           
            <div class="text-center">
              <p>@NEW - Novo Estilo Web - 2013 <br />Todos os direitos reservados</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<button (click)="logar()" class="btn btn-primary btn-block mb-4"> Acessar
</button>
-->

<h1>Login</h1>

<div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times; </a>
  <button type="button" class="close" data-dismiss="alert"
    arial-label="Close" (click)="$event.preventDefault()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div> Login></div>
<div class="well"> 
    <form #formLogin="ngForm">
      <div class="form-group">
        <label for="usuario">Usuario:</label>
        <input type="text" class="form-control" id="usuario" name="usuario"
          [(ngModel)]="login.login" #usuario="ngModel" requerid>
          <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)"
            class="alert alert-danger">
            <div [hidden]="!usuario?.errors?.['required']">
              Digite o usuario
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="text" class="form-control" id="senha" name="senha"
          [(ngModel)]="login.senha" #senha="ngModel" requerid>
          <div *ngIf="senha.errors && (senha.dirty || senha.touched)"
            class="alert alert-danger">
            <div [hidden]="!senha?.errors?.['required']">
              Digite o usuario
            </div>
          </div>
      </div>

      <button type="button" class="btn btn-primary"
          (click)="logar()"
          [disabled]="!formLogin.form.valid">
          <i class="fa fa-save" aria-hidden="true"></i> Logar
      </button>

    </form>
</div>
