<ngx-tabs>
  <ngx-tab tabTitle="Despesas">
    <div class="container-tabs" >
      <div class="body-tabs"><app-despesas [despesas]="despesas"></app-despesas></div>
      <resumo-valores [dados]="resumoDespesas"></resumo-valores>
    </div>
  </ngx-tab>
  <ngx-tab tabTitle="Rendas">
    <div class="container-tabs" >
      <div class="body-tabs"><app-rendas [rendas]="rendas"></app-rendas></div>
      <resumo-valores [dados]="resumoRendas"></resumo-valores>
    </div>
  </ngx-tab>
</ngx-tabs>




<!--
<div *ngIf="usuarioSessao" style="margin-top: 20px;">
  <div *ngIf="usuarioSessao.perfil==='ADMIN'"> USUARIO: {{usuarioSessao.nome}} - Perfil: ADMIN</div>
  <div *ngIf="usuarioSessao.perfil==='GERENTE'"> USUARIO GERENTE</div>
  <div *ngIf="usuarioSessao.perfil==='FUNC'"> USUARIO FUNC</div>
</div> -->






