.formgroup{
  margin-bottom: 1rem;
}
.categoria-label{
  border-top: 1px solid transparent !important;
}
.largura-label-142{
  width: 142px !important;
}
.largura-label-50{
  width: 50px !important;
}
.space-inputs{
  margin-bottom: 12px !important;
}