<div class="card-container {{tipoCard ? 'card-container-despesas': ''}}">
  <div class="{{tipoCard ? 'color-white': ''}} font-data">
    <div>{{card.dia}}</div>
    <span>{{card.mes}}</span>
  </div>
  <div class="font-descricao">
      <div class="{{tipoCard ? 'color-white': ''}}">{{card.descricao}}</div>
      <div class="{{card.statusPagamento ? 'color-green': 'color-red'}} font-tipo-recebimento">{{card.descricaoStatus}}</div>
  </div>
  <div class="font-valor {{tipoCard ? 'color-red': 'color-green'}}">
    <span>{{card.valor}}</span>
  </div>
</div>
